.header {
    min-height: 100vh;
    width: 175px;
    background-color: #7F87CF;
    padding: 40px 0;
    font-family: sans-serif;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navOptionItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    width: 100%;
    padding: 20px 0;
}

.navOptionItems:hover {
    background-color: #6264e8;
}

.userIcon {
    border-radius: 50% 50%;
    width: 70px;
    height: 70px;
    border: 1px solid black;
}